// Import styling base.
@import '../../assets/styles/base.scss';

form[name="user_login"] {
  margin-top: 25px;
  legend {
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: $roboto-stack;
    text-transform: initial;
  }
  label {
    font-size: 14px;
    font-family: $roboto-stack;
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    &.error {
      color: #ee3124;
      font-size: 14px;
    }
  }
  input {
    height: 30px;
    width: 250px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid #eaeaea;
    transition: border 0.5s;
    font-size: 12px;
    &:focus {
      transition: 0.3s all;
      outline: none;
      background-color: white;
      border: 1px solid black;
    }
  }
  fieldset {
    border: none;
  }
  div {
    margin: 5px 0 10px;
    &:nth-of-type(2){
      margin-top: 25px;
    }
    .get-password {
      margin: 0px;
      a{
        text-decoration: none;
        line-height: 10px;
        color: #222;
        font-weight: 600;
        margin: 5px 0 0 0;
        transition: .3s all;
        padding: 0px;
        &:hover {
          transition: .3s all;
          color: #ee3124;
        }
      }
    }
    p.error{
      display: none;
      font-size: 12px;
      color: #ee3124;
      position: absolute;
      font-weight: 300;
      margin: -8px 0px 0px 0px;
      left: 0;
      right: 0;
    }
    &.remember-me {
      position: relative;
      top: -18px;
      text-align: left;
      margin-left: 12px;
      input[type="checkbox"]{
        float: left;
        width: auto;
        height: initial;
        margin-top: 18px;
      }
      span{
        position: relative;
        top: 14px;
        left: 10px;
        font-style: italic;
        font-family: roboto;
        font-size: 12px;
      }
    }
    &.submit {
      position: initial;
      margin: 25px 0 5px 0;
      button {
        border: 2px solid #eaeaea;
        background-color: white;
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 15px;
        position: initial;
        padding: 7px 15px;
        transition: 0.3s all;
        letter-spacing: 0.5px;
        &:focus,
        &:hover {
          transition: 0.3s all;
          cursor: pointer;
          outline: none;
          border: 2px solid black;
        }
      }
    }
    &.account-creation{
      p{
        margin-top: 0px;
      }
    }
    &.success{
      background-color: #DFF2BF;
      p{
        color: #4F8A10;
        margin: 9px 0px;
      }
    }
    &.failure{
      background-color: #FFBABA;
      p{
        color: #D8000C;
        margin: 9px 0px;
      }
    }
    &.success,
    &.failure {
      display: block;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      text-align: center;
      color: white;
    }
  }
}
