// Import styling base.
@import './../../assets/styles/base.scss';

header {
  padding: 5px 0px;
  content: '';
  clear: both;
  display: table;
  width: 100%;
  background-color: #c3c3c3;
  border-bottom: 2px solid #b7b7b7;
  .wrapper {
    width: 100%;
  }
}

nav{
  float: left;
  margin: 18px 0px;
  font-family: 'Roboto', sans-serif;
  a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    transition: .25s color;
    &:hover{
      color: black;
    }
    &.active {
      border-bottom: 1px solid black;
      color: black;
      cursor: initial;
    }
  }
}

.user-information-wrapper {
  position: relative;
  float: right;
  i {
    cursor: pointer;
    color: white;
    margin: 15px 0px;
    font-size: 24px;
    transition: .25s color;
    &:hover{
      color: black;
    }
    &.active {
      color: black;
    }
  }
}
