form[name="user_login"] {
  padding: 20px 0px 35px 0px;
  max-width: 400px;
  margin: 0 auto;
  border: 3px solid #fcfcfc;
  border-radius: 3px;
  margin-top: 100px;
  font-family: 'Roboto';
  text-align: center;
  box-shadow: 0px 0px 14px #c5c5c5;
  position: relative;
  .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 70px;
    background-color: rgba(0,0,0,0.2);
  }
  legend {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0px 10px 0px;
  }
  fieldset{
    border: none;
  }
  .email-password-wrapper{
    min-height: 70px;
    width: 100%;
  }
}
