button {
  background-color: red;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid red;
  font-size: 14px;
  margin-top: 18px;
  cursor: pointer;
  transition: all 0.4s;
  &:hover{
    color: red;
    background-color: white;
  }
}
