// Import styling base.
@import './../../../../assets/styles/base.scss';

.timer {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  width: 320px;
  bottom: 10px;
  position: absolute;
  .start-wrapper{
    float: left;
    width: 50%;
    text-align: right;
  }
  .stop-wrapper{
    float: left;
    width: 50%;
    text-align: left;
  }
  .duration{
    font-weight: 600;
    font-family: $roboto-stack;
    font-size: 18px;
    span{
      font-size: 12px;
    }
  }
  button{
    border: none;
    background-color: transparent;
    margin: 0px 20px;
    i{
      cursor: pointer;
      font-size: 32px;
      transition: color 0.5s;
      color: black;
      &.start {
        &:hover{
          color: $green;
        }
      }
      &.stop{
        &:hover{
          color: red;
        }
      }
    }
    p{
      margin-top: 0px;
    }
  }
}
