// Import font.
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i');

// Variables.
$roboto-stack: 'Roboto', sans-serif;
$green: #41c134;
$light-grey: #f3f3f3;
$dark-grey: #cccccc;

.clearfix{
  content: '';
  clear: both;
  display: table;
}
