.account-login {
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  left: -34px;
  top: -17px;
  background-color: white;
  border: 1px solid #d8cece;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  z-index: 100;
  &.show-opacity{
    opacity: 1;
  }
  i {
    position: relative;
    right: -12px;
    top: 13px;
    font-size: 23px;
  }
}
