.account-creation {
  p{
      margin-top: 0px;
      font-size: 13px;
      margin-bottom: 10px;
  }
  a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
  }
}
